# CAP
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
db/data/
dist/
app/online-store/dist/
mta*/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

resources/

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

# Auto generated wildcard
db/.env

# Unit testing part
test/coverage

# Local integration testing
test/integration

junit.xml
test-report.xml

# Env props
.env
